BODY {
	FONT: 11px verdana, arial, sans-serif;BACKGROUND-REPEAT: REPEAT;BACKGROUND-IMAGE: URL(../img/bg.png);
}
TD {
	FONT: 11px verdana, arial, sans-serif; COLOR: #222222
}
TD.red {
	FONT: 11px lucida console, fixedsys; color: red;
}
TD.drd {
	FONT: 11px lucida console, fixedsys; color: darkred;
}
TD.grn {
	FONT: 11px lucida console, fixedsys; color: green;
}
TD.blu {
	FONT: 11px lucida console, fixedsys; color: blue;
}
TD.prp {
	FONT: 11px lucida console, fixedsys; color: purple;
}
TD.blk {
	FONT: 11px lucida console, fixedsys; color: black;
}

TH {
	FONT: 11px verdana, arial, sans-serif; COLOR: #333333;  font-weight: bold
}
H1   {
	FONT: 14px verdana, arial, sans-serif; COLOR: #333333; font-weight: bold; text-align: center
}
H2   {
	FONT: 12px verdana, arial, sans-serif; COLOR: #333333; font-weight: bold; text-align: center
}
H3   {
	FONT: 12px verdana, arial, sans-serif; COLOR: #000066; font-weight: bold; text-align: center
}
H4   {
	FONT: 12px verdana, arial, sans-serif; COLOR: #660000; font-weight: bold; text-align: center
}
H5   {
	FONT: 12px verdana, arial, sans-serif; COLOR: #006600; font-weight: bold; text-align: center
}
A:link {
	FONT: 11px verdana, arial, sans-serif; COLOR: #0044AA; TEXT-DECORATION: none
}
A:visited {
	FONT: 11px verdana, arial, sans-serif; COLOR: #003399; TEXT-DECORATION: none
}
A:active {
	FONT: 11px verdana, arial, sans-serif; COLOR: #0088DD; TEXT-DECORATION: none
}
A:hover {
	FONT: 11px verdana, arial, sans-serif; COLOR: #FF4400
}
SELECT {
	FONT: 11px verdana, arial, sans-serif; COLOR: #000000
}
INPUT {
	FONT: 11px verdana, arial, sans-serif; COLOR: #000000
}
TEXTAREA {
	FONT: 11px lucida console, fixedsys; COLOR: #000000
}
