/* ThemeNMenu Style Sheet */

.ThemeNMenu,.ThemeNSubMenuTable
{
	cursor:		default;
	font-family:	verdana, arial, sans-serif;
	font-size:	13px;

	padding:	2;
	border:		0;
	white-space:	nowrap;
}

.ThemeNMenu
{
/*	background-color:	#F7F3EF; */
}

.ThemeNSubMenu
{
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0;
	padding:	0;

	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=135, Strength=4);*/
}

.ThemeNSubMenuTable
{
	border:		1px solid #444444;
	background-color:	#eeeeee;
}

.ThemeNSubMenuTable td
{
	white-space:	nowrap;
	padding:	2;
}

.ThemeNMainItem,.ThemeNMainItemHover,.ThemeNMainItemActive,
.ThemeNMenuItem,.ThemeNMenuItemHover,.ThemeNMenuItemActive
{
	padding-left:	6px;
	padding-right:	6px;
	white-space:	nowrap;
}

.ThemeNMainItemHover,.ThemeNMainItemActive,
.ThemeNMenuItemHover,.ThemeNMenuItemActive
{
	color:		#888888;
	background-color:	#ffffff;
}

.ThemeNMenuSplit
{
	height:		1px;
	margin-top:	1px;
	margin-bottom:	1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #ADAA9C;
}

.ThemeNMenuVSplit
{
	width:		1px;
	margin:		0px;
	overflow:	hidden;
	background-color:	inherit;
	border-right:	1px solid #ADAA9C;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeNMenuItem img.seq1
{
	display:	inline;
}

.ThemeNMenuItemHover seq2,
.ThemeNMenuItemActive seq2
{
	display:	inline;
}

.ThemeNMenuItem .seq2,
.ThemeNMenuItemHover .seq1,
.ThemeNMenuItemActive .seq1
{
	display:	none;
}
